<div class="col-lg-10 mx-auto mt-5">
  <% if @requested_connections.present?%>
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title">Requested Connections</h3>
      </div>
      <div class="card-body text-center">
        <ul class="row list-unstyled g-4 mb-0">
          <% @requested_connections.each do |connection| %>
            <li class="col-lg-3">
              <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                  <div>
                    <%= image_tag "dmu1.webp", class: "img-fluid mb-1" %>
                    <%= link_to member_path(connection.requested),
                        style: "text-decoration:none", class: "text-primary", target: "_blank" do %>
                      <p class="lead fw-bold">
                        <%= connection.requested.name %>
                      </p>
                    <% end %>
                    <small class="text-muted">
                      <%= connection.requested.profile_title %>
                    </small>
                  </div>
                  <div class="d-grid">
                    <%= link_to connection.status.titleize, "javascript:void(0)", class: "#{get_status_btn_class(connection.status)} mt-2" %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% if @received_connections.present?%>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Received Connections</h3>
      </div>
      <div class="card-body text-center">
        <ul class="row list-unstyled g-4 mb-0">
          <% @received_connections.each do |connection| %>
            <li class="col-lg-3">
              <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between"">
                  <div class="">
                    <%= image_tag "dmu1.webp", class: "img-fluid mb-1" %>
                    <%= link_to member_path(connection.received),
                        style: "text-decoration:none", class: "text-primary", target: "_blank" do %>
                      <p class="lead fw-bold">
                        <%= connection.received.name %>
                      </p>
                    <% end %>
                    <small class="text-muted">
                      <%= connection.received.profile_title %>
                    </small>
                  </div>
                  <div id="connection-status-<%= connection.id %>">
                    <% if ["accepted", "rejected"].include?(connection.status) %>
                      <div class="d-grid">
                        <%= link_to connection.status.titleize, "javascript:void(0)", class: "#{get_status_btn_class(connection.status)} mt-2" %>
                      </div>
                    <% else %>
                      <div class="mt-2">
                        <%= link_to "Accept", connection_path(connection),
                            class: "btn btn-success",
                            data: { controller: "update-connection-status", turbo_method: :patch } %>
                        <%= link_to "Reject", connection_path(connection),
                            class: "btn btn-danger",
                            data: { controller: "update-connection-status", turbo_method: :patch } %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
