<li class="list-group-item" id="work_experience_item_<%= work_experience.id %>">
  <div class="row">
    <div class="col-lg-9">
      <div class="d-flex justify-content-start">
        <p class="fw-bold">
          <%= work_experience.job_title %>
        </p>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="d-flex flex-column">
    <p class="mb-0"><%= work_experience.company %></p>
    <small><%= work_experience.employment_type %></small>
    <small><%= work_experience.location %></small>
  </div>
</li>
